main {
  padding: 3rem 5rem 2rem 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

h2 {
  text-align: center;
}

svg.top-img {
  width: 4rem !important;
  height: 4rem !important;
  position: relative;
  bottom: 25px;
}

.users {
  width: 35%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0;
}

form input {
  margin-bottom: 15px;
}

/* Remove input number arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type='number'] {
  -moz-appearance: textfield;
}

button[type='submit'] {
  width: 50%;
  max-width: 250px;
  margin: 0.8rem auto;
}

.search svg#search-input-button {
  width: 20px;
  height: 20px;
}

.search {
  width: 55%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search form button[type='submit'] {
  margin: 0 !important;
}

.search form .container .row {
  margin: 0.8rem 0;
}

.search form .container .col-2 {
  display: flex;
  justify-content: center;
}

.search form .container input {
  width: 100%;
  max-width: 55px;
  height: 100%;
  margin: 0;
}

.search .container {
  padding: 2rem 0;
}

/* SEARCH PAGE */
main.search-results {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* EDIT PAGE */
.edit-page .users {
  height: 100%;
  width: 40%;
}

.edit-page form p {
  display: block;
  margin-bottom: 0.5rem;
}

.edit-page form .option {
  display: inline-block;
  margin-right: 0.5rem;
}

