main {
  width: 400px;
  height: 600px;
  padding: 10px;
}

#top img {
  position: relative;
  bottom: 40px;
}

h1 {
  position: relative;
  bottom: 30px;
}

form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0;
}

form input {
  margin-bottom: 15px;
}

button[type='submit'] {
  margin-top: 10%;
}
