main {
  width: 400px;
  height: 600px;
  padding: 10px;
}

h1 {
  position: relative;
  bottom: 30px;
}

p {
  text-align: left;
}

#top img {
  position: relative;
  bottom: 50px;
}

#top #info {
  padding: 0 1.5rem;
}

form {
  height: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0;
}

form input {
  margin-bottom: 15px;
}

/* Remove input number arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type='number'] {
  -moz-appearance: textfield;
}

form a {
  max-width: 250px;
  margin: 4% auto 0 auto;
}

button[type='submit'] {
  margin-top: 10%;
}

footer p {
  text-align: center;
}

/* Style for register page */

#register form#registrar-senha {
  height: 40%;
  padding: 1rem;
}

#register form#registrar-senha a {
  max-width: 250px;
  margin: 4% auto 0 auto;
}

#register h1 {
  margin-bottom: -5px;
}

#register #top {
  margin-bottom: -10px;
}

#register button[type='submit'] {
  margin-top: 4%;
}
