#search main {
  padding: 0 0 5% 0;
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search .search svg {
  width: 20px;
  height: 20px;
}

#search input.btn-link {
  padding: 0.4rem;
}

/* VIEW ORDER PAGE */
.view-order {
  overflow: hidden;
}

.view-order h2 {
  text-align: center;
}

.view-order main {
  padding-top: 3rem;

  display: flex;
  justify-content: space-around;
}

.view-order main svg {
  color: #4B5C6B;
}

.view-order .data-box {
  width: 100%;
  margin: 2rem 0;
  padding: 0 5%;
}

.view-order .data-box .data {
  margin: 1rem 0;

  display: flex;
  justify-content: space-between;
}

.view-order .label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.view-order .data-box .data p {
  display: inline-block;
  margin: 0 0 0 0.4rem;
  font-weight: 600;
}

.view-order .order {
  width: 30%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-order .order .top-icon {
  width: 4rem;
  height: 4rem;
  position: relative;
  bottom: 25px;
}

.view-order .products {
  width: 60%;
}

/* EDIT ORDER PAGE */
.edit-order .order form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-order input, .edit-order select {
  max-width: 12rem;
}

/* Remove input number arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type='number'] {
  -moz-appearance: textfield;
}

.edit-order .radio-form {
  width: 12rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-order .option {
  margin-left: 1rem;
}

.edit-order button[type="submit"] {
  width: 40%;
}

.edit-order .products select {
  width: 10em;
  text-align-last: center;
}

.edit-order .products input {
  text-align: center;
}

.edit-order .products input::placeholder {
  text-align: center;
}

.edit-order .products button[type="submit"] {
  width: 100%;
}
