#index {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

p.old-price {
  margin-bottom: 0;
}

span.strike {
  text-decoration: line-through;
}

span.deal {
  font-size: 1.2rem;
  font-weight: 600;
}

main {
  padding-top: 1rem;
}

.search {
  max-width: 1000px;
  margin: 0 auto;
}

.search .input-group {
  max-width: 800px;
  margin: 0 auto;
}

.search .input-group button {
  width: 3rem;
}

.search form button svg {
  width: 20px;
  height: 20px;
}

.search .search-letters {
  margin-top: 1rem;
  text-align: center;
}

.search form button {
  padding: 0 5px;
}

.products {
  text-align: center;
  padding: 1rem;
}

.products .row {
  display: flex;
  justify-content: space-around;
}

.products .clear-cart, .products .open-cart {
  margin-left: 0.5rem;
  height: 40px;
}

.products .product {
  max-width: 235px;
  height: 225px;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--light);
  cursor: default;
}

.products .product .edit-product {
  position: absolute;
  top: 5px;
  right: 5px;
}

.products .product .in-stock, .products .product .out-of-stock {
  margin-top: 1rem;
}

.products .product .in-stock {
  color: var(--green);
}

.products .product .out-of-stock {
  color: var(--red);
}

.pages {
  max-width: 1000px;
  margin: 0 auto;
  height: 2em;

  text-align: center;
  font-size: 1.4rem;
}

.pages a {
  margin: 0 0.3rem;
}

/* CART PAGE */
#cart {
  overflow-x: hidden;
}

#cart main {
  padding: 0 !important;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cart main form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Remove input number arrows */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type='number'] {
  -moz-appearance: textfield;
}

#cart table input[type='number']::placeholder {
  text-align: center;
}

#cart table input.quant {
  max-width: 75px;
  margin: 0 auto;
  text-align: center;
}

#cart table input.disc {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
}

#cart .finish {
  width: 20%;
  margin-left: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart .finish .total {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 3rem;
}

#cart .finish .buttons {
  display: flex;
  align-items: center;
}

#cart .finish .buttons > * {
  margin: 0 0.4rem;
}

/* CART - Section for clients */
#cart .finish.priority-0 {
  width: 15%;
  margin-left: 85%;
}

#cart .finish.priority-0 .total {
  padding: 0;
  align-items: center;
}

/* FINALIZE ORDER PAGE (search) */
#final-search main {
  padding: 0 0 5% 0;
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FINALIZE ORDER PAGE (list) */
#final-list main {
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* EDIT PRODUCT PAGE and ADD PRODUCT PAGE*/
#edit-page main, #add-product main {
  padding: 3rem 5rem 2rem 5rem;
  display: flex;
  justify-content: center;
}

#edit-page .product, #add-product .product {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-page .product svg, #add-product .product svg {
  width: 4rem;
  height: 4rem;
  position: relative;
  bottom: 25px;
}

#edit-page form, #add-product form {
  width: 100%;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
}

#edit-page form label, #add-product form label {
  margin: 0;
}

#edit-page form input, #add-product form input {
  margin-bottom: 1rem;
}

#edit-page form p, #add-product form p {
  display: block;
  margin-bottom: 0.5rem;
}

#edit-page form .option, #add-product form .option {
  display: inline-block;
  margin-right: 0.5rem;
}

#edit-page form .buttons {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#edit-page form .buttons > * {
  width: 30%;
}

/* ADD DISCOUNT PAGE */
#add-discount .search {
  margin-bottom: 1rem;
}

#add-discount .list {
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#add-discount .list input {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
}
