main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main svg {
  width: 50%;
  height: auto;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#success {
  color: var(--success);
}

#error {
  color: var(--danger);
}
