.nav-bar {
  width: 5rem;
  height: 95vh;
  position: fixed;
  bottom: 0;
  transition: 200ms ease;
  z-index: 1000;
}

.nav-bar-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none !important;
  filter: grayscale(30%) opacity(0.7);
  transition: 400ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #e6e8eb;
  color: var(--info);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  color: var(--cyan);
}

.nav-bar:hover {
  width: 16rem;
}

.nav-bar:hover .link-text {
  display: block;
}
