#topbar {
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100vw;
  height: 5vh;
  padding: 0 20px;
  padding-left: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topbar a {
  text-decoration: none;
  color: var(--info);
  margin-left: 0.5rem;
  transition: color 0.2s;
}

#topbar a:hover {
  color: #138496;
}

#topbar #left-logo {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
}

#topbar #left-logo a {
  display: flex;
  align-items: center;
}

#topbar svg {
  color: #72B7C1;
}

#topbar svg#cart-logo {
  margin-right: 0.4rem;
}

#topbar #cart {
  color: var(--info);
}

#topbar .input-group {
  margin-left: 1rem;
}

#topbar .hello-user {
  display: flex;
  align-items: center;
}

#topbar .hello-user svg {
  margin-left: 10px;
}

#topbar .hello-user form {
  display: inline;
}
#topbar .hello-user form button {
  margin-left: 15px;
}
