body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

main {
  height: 90%;
  margin-left: 5rem;
  margin: 40px 1rem 1rem 80px;
}
